#mood-btns {
  background: #ffffff;
  bottom: 80px;
  font-size: 24px;
  height: 80px;
  margin-top: 1px;
  padding-left: 15px;
  position: relative;
  text-align: left;
  transition: width 0.5s ease;
  width: 250px;
}

#mood-btns:hover {
  width: 360px;
}
