* {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: 400;
  margin: 0px;
}

.home-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('./home-background.jpg');
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.greeting-section, .tab-sections {
  height: 50%;
}

.greeting-section {
  background: rgba(95, 177, 164, 0.5);
  padding: 20px 50px;
}

.main-greeting {
  font-size: 96px;
}

.sub-greeting {
  font-size: 40px;
  width: 30%;
}

.tab-sections {
  display: flex;
  justify-content: space-between;
}
